#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

flavour=chromeos-intel-menlow
ARCH=i386
CROSS_COMPILE=
KERNELDIR=~/trunk/src/build/kernels/kernel-${flavour}/debian/build/build-${flavour}

MRVL_MAKE=$(MAKE) KERNELDIR=$(KERNELDIR) CROSS_COMPILE=$(CROSS_COMPILE) \
	ARCH=$(ARCH)

INSTALL_DIR=$(CURDIR)/debian/marvell-8787
MODULES_DIR=lib/modules/2.6.31-0-${flavour}/vendor/marvell

configure: configure-stamp
configure-stamp:
	dh_testdir
	# nothing to do to configure package
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	# NB: $(MAKE) -C wlan_src fails 'cuz $(PWD) is set wrong
	cd wlan_src; $(MRVL_MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MRVL_MAKE) -C wlan_src clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -p $(INSTALL_DIR)/$(MODULES_DIR)
	# NB: $(MAKE) -C wlan_src fails 'cuz $(PWD) is set wrong
	cd wlan_src; $(MRVL_MAKE) INSTALLDIR=$(INSTALL_DIR)/$(MODULES_DIR) \
	     install

	mkdir -p $(INSTALL_DIR)
	cp marvell_8787.conf $(INSTALL_DIR)/etc/modprobe.d

	mkdir -p $(INSTALL_DIR)/lib/firmware/mrvl
	cp FwImage/sd8787.bin $(INSTALL_DIR)/lib/firmware/mrvl

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
#	dh_installchangelogs
#	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
#	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
